/* Основний колір заголовків/підписів/сайтів #212121 */
/* Колір абзаців  #757575; */
/* Синій колір #2196F3 */
/* Білий кодір #FFFFFF */
/* колір фона #E5E5E5; */

:root {
--style-basis:#212121;
--style-text:#757575;
--style-fon-white:#FFFFFF;
--style-blue:#2196F3;
--style-black:#000000;
--style-button:#F5F4FA;
--style-button-secondary:#188ce8; 
--fon-titl-adr:#2F303A;
}

body {
    color: var(--style-basis);
    background-color: var(--style-fon-white);
    font-family: Roboto, sans-serif;
}

h2,
h3, 
p {
    margin: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.container { 
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 3px solid tomato;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
   }

.section.no-padding {
    padding-top: 0px;
    padding-bottom: 0pt;
    }

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
    /* Приховування заголовків */
.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
    } 

.main-header{
    display: flex;
   
}

/* Оформлення логотипу */
.logo {
    margin-right: 93px;

    color: var(--style-blue);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    }

.logo-black {
    color: var(--style-black);
    }

.logo-white {
    color: var(--style-fon-white);
    }

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
     }

.site-nav .item {
    margin-right: 50px;
     }

.site-nav .item:last-child {
    margin-right: 0px;}

        
.auth-nav {
    display: flex;
    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

    .auth-nav .item + .item {
    margin-left: 50px;
    }

.site-nav .link-site.current {
    color: var(--style-blue);
    }

.link-site {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;

    color: var(--style-basis);
    text-decoration: none;
    }
   
.link-auth {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;

    color: var(--style-text);
    text-decoration: none;
    }


.link-site:hover,.link-site:focus,
.link-auth:hover, .link-auth:focus {
    color: var(--style-blue);
    }


    /* Оформленння кнопок */

.button-title {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 200px;
    padding: 10px 32px;
    min-width: 200px;

    color: var(--style-fon-white);
    background:var(--style-blue);

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
}

.button-title:hover, .button-title:focus  {
background-color: var(--style-button-secondary);
}

.button-one {
    color: var(--style-fon-white);
    background-color:var(--style-blue);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;}

.button{
    color: var(--style-basis);
    background-color:var(--style-button);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: var(--style-blue);
    color: var(--style-fon-white);
   }

/* Заголовок */

.title {
    background-color: var(--fon-titl-adr);
    text-align: center;
    }   

.title-name{
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--style-fon-white);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }


/* Опис */
.descriptions {
    display: flex;
}

.descriptions-items {
    margin-right: 30px;
}

.descriptions-items:last-child {
    margin-right: 0;
}

.descriptions-name {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.descriptions-text {
    color: var(--style-text);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }



/* Чим ми займаємось */
/* Команда */


.team{
    background-color: var(--style-button);
    }

.occupation-name,
.our-team {
    margin-bottom:50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    }

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }

.team-text {
    color: var(--style-text);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }


/* Сторінка портфоліо */


.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

.portfolio-text {
    color: var(--style-text);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    }


    /*Кінцівка сторінок */


.my-adrs {
    background-color: var(--fon-titl-adr);
    }   

.adrs{
    color: var(--style-fon-white);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style:normal;
    }

.adrs-auth {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style:normal;
    text-decoration: none;
    }

.adrs-auth:hover,.adrs-auth:focus {
    color:var(--style-blue);}